*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #2f2c2c;
  font-size: 16px;
  color : white;
  font-family: 'Martian Mono', monospace;
}
button{
  background-color: rgb(162, 80, 114);
  border: none;
  outline: none;
  color: #fff;
  padding: 4px 5px;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}
button:hover{
  background-color: rgb(130, 67, 94);;
}

input{
  background-color: rgb(235, 217, 224);
  border: 1px solid transparent;
  outline: none;
  color: #222;
  margin-bottom: 7px;
  margin: 10px ;
  padding: 4px 5px;
  border-radius: 5px;
  cursor: focus;
  transition: border-color 0.4s ease-in-out;
  display: block;
}

input:hover{
  border-color: rgb(130, 67, 94);;
}
